@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

#load {
  width: 100%;
  height: 100vh;
  background-color: #00c2bc;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  margin: 0;
}

#load.loaded {
  animation: fadeOut 0.5s forwards;
  height:0;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.class input[type=text] {
  font-size: 16px;
  transform: scale(0.9);
}

#file1 {
  display: none;
}

#audioInput, #playb {
  display: none;
}

#audioicon, #fullscreen, #escFullscreen {
  cursor: pointer;
}

body:fullscreen #fullscreen {
  display: none;
}

body:not(:fullscreen) #escFullscreen {
  display: none;
}

.noevent {
  pointer-events: none;
}

.autoevent {
  pointer-events: auto;
}

#playb {
  margin-top: 50px;
}

::selection {
  background: #4db6ac;
  color: #fff;
}

/*Firefox*/

::-moz-selection {
  background: #4db6ac;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}

.upmenu, .downmenu {
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: 60px;
  height: 40px;
  background-color: #ccc;
  color: #000;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.upmenu:active, .downmenu:active {
  opacity: 0.7;
  color: white;
  transition: color 250ms, opacity 250ms;
}

.upmenu.pc:hover, .downmenu.pc:hover {
  opacity: 0.7;
  color: white;
  transition: color 250ms, opacity 250ms;
}

.mymenu {
  background-color: rgb(247, 247, 247);
}

.menu {
  position: relative;
  flex-shrink: 0;
  margin: 0px;
  padding: 0;
  width: 100%;
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu1 {
  height: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  transition: height 350ms ease-in-out;
}

#menu1.is-open {
  padding-top: 0;
  padding-bottom: 0;
  height: 150px;
  transition: height 350ms ease-in-out;
}

#menu2 {
  height: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  transition: height 350ms ease-in-out;
}

#menu2.is-open {
  padding-top: 0;
  padding-bottom: 0;
  height: 150px;
  transition: height 350ms ease-in-out;
}

body:not(.timer) {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI”, "Roboto, Oxygen",
 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans”, "Helvetica Neue", sans-serif; 

}

@media only screen and (max-width: 480px) {
  .trouble {
    margin: 15px;
  }
  .upmenu {
    position: absolute;
    top: -40px;
    left: 0;
    margin: 0;
  }
  .downmenu {
    position: absolute;
    top: -40px;
    left: 65px;
    margin: 0;
  }
  #menu1.is-open {
    padding-top: 0;
    padding-bottom: 0;
    height: 230px;
    transition: height 350ms ease-in-out;
  }
  #menu2.is-open {
    padding-top: 0;
    padding-bottom: 0;
    height: 210px;
    transition: height 350ms ease-in-out;
  }
}

@media only screen and (min-width: 480px) {
  .trouble {
    margin: 60px 10px 20px;
  }
  .upmenu {
    position: absolute;
    top: -40px;
    left: 60px;
    margin: 0;
  }
  .downmenu {
    position: absolute;
    top: -40px;
    left: 125px;
    margin: 0;
  }
}

#bigtimer {
  flex: 1;
  z-index: 0;
  flex-shrink: 0;
  transition: background-color 250ms ease-in-out;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
