.modal-overlay {
  overflow: hidden;
}
:root {
  --bgColor: #f7f7f7;
  --fontColor: rgb(75, 75, 75);
  --green: #4db6ac;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

#load {
  opacity: 1;
  width: 100%;
  height: 100vh;
  background-color: #00c2bc;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  margin: 0;
}

#load.loaded {
  height: 0;
  animation: fadeOut 0.5s forwards;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.myBtn-circle {
  border: #666 solid 1px;
  color: var(--fontColor);
  position: relative;
  line-height: 12vh;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 0.1rem 0.1rem;
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  cursor: pointer;
}
.myBtn-circle:hover {
  color: var(--green);
  border-color: var(--green);
}

.class input[type="text"] {
  font-size: 16px;
  transform: scale(0.9);
}

#file1 {
  display: none;
}

#audioInput,
#playb {
  display: none;
}

#droppable {
  border: rgb(165, 165, 165) dashed 0.3em;
  text-align: center;
  border-radius: 1em;
  height: 9.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#audioicon,
#fullscreen,
#escFullscreen {
  cursor: pointer;
}

body:fullscreen #fullscreen {
  display: none;
}

body:not(:fullscreen) #escFullscreen {
  display: none;
}

.noevent {
  pointer-events: none;
}

.autoevent {
  pointer-events: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}

.upmenu,
.downmenu {
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: 60px;
  height: 40px;
  background-color: #ccc;
  color: #000;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.upmenu:active,
.downmenu:active {
  opacity: 0.7;
  color: white;
  transition: color 250ms, opacity 250ms;
}

.upmenu.pc:hover,
.downmenu.pc:hover {
  opacity: 0.7;
  color: white;
  transition: color 250ms, opacity 250ms;
}

.menu {
  position: relative;
  flex-shrink: 0;
  margin: 0px;
  padding: 0;
  width: 100%;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
}

#menu1 {
  height: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  transition: height 350ms ease-in-out;
  z-index: 9998;
}

#menu2 {
  height: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  transition: height 350ms ease-in-out;
  z-index: 9997;
}
#Date,#Time{
  display: none;
}
#settings .section{
  background-color: #fff;
  margin-top: 0.5em;
  padding: 0 1em;
}
#settings .section p{
  color: #666;
  margin-inline-start: 1em;
}
#settings .section:not(:last-child){
  margin-bottom: 4em;
}
.modal{
  max-height: 90vh;
}
#settings .modal-content {
  padding: 0 5px;
}
body:not(.timer) {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI”, " Roboto,
    Oxygen ",
 " Ubuntu ", " Cantarell ", " Fira Sans ", " Droid Sans”,
    "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 600px) {
  .trouble {
    margin: 5px;
  }
  #playb {
    margin-top: 50px;
  }
  .upmenu {
    position: absolute;
    top: -40px;
    left: 0;
    margin: 0;
  }
  .downmenu {
    position: absolute;
    top: -40px;
    left: 65px;
    margin: 0;
  }
  #menu1.is-open {
    padding-top: 0;
    padding-bottom: 0;
    height: 170px;
    transition: height 350ms ease-in-out;
  }
  #menu1.is-open.iPhone {
    height: 120px;
  }
  #menu2.is-open {
    padding-top: 0;
    padding-bottom: 0;
    height: 210px;
    transition: height 350ms ease-in-out;
  }
  #menu2.is-open.iPhone {
    height: 100px;
  }
}

@media only screen and (min-width: 600px) {
  .trouble {
    margin: 15px 10px 20px;
  }
  .upmenu {
    position: absolute;
    top: -40px;
    left: 60px;
    margin: 0;
  }
  .downmenu {
    position: absolute;
    top: -40px;
    left: 125px;
    margin: 0;
  }
  #menu1.is-open {
    padding-top: 0;
    padding-bottom: 0;
    height: 125px;
    transition: height 350ms ease-in-out;
  }
  #menu2.is-open {
    padding-top: 0;
    padding-bottom: 0;
    height: 105px;
    transition: height 350ms ease-in-out;
  }
}

@media only screen and (max-width: 775px) {
  .icons {
    font-size: 25px;
  }
}

@media only screen and (min-width: 775px) {
  .icons {
    font-size: 30px;
  }
}

#bigtimer {
  flex: 1;
  z-index: 0;
  flex-shrink: 0;
  transition: background-color 250ms ease-in-out;
  pointer-events: none;
  padding: 30px 30px 50px;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.icons {
  white-space: nowrap;
}

.row {
  margin-bottom: 0;
}

#click {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
.timer a{
  pointer-events: auto;
}
.hidecursor * {
  cursor: none !important;
}

#context {
  display: block;
  opacity: 0;
  position: fixed;
  color: rgb(10, 10, 10);
  list-style: none;
  padding: 0;
  background-color: rgba(243, 243, 243, 0.836);
  backdrop-filter: blur(8px);
  line-height: 3;
  border: 0.1px solid rgba(218, 218, 218, 0.822);
  box-shadow: 5px 5px 5px rgba(26, 26, 26, 0.144);
  z-index: -2;
  transition: opacity 250ms;
  border-radius: 3px;
}
#context.is-open {
  opacity: 1;
  z-index: 100000000000;
  transition: opacity 250ms;
}
#context li {
  padding: 0 15px;
  width: 100%;
  color: rgb(10, 10, 10);
  height: auto;
  cursor: pointer;
  white-space: nowrap;
}
#context li:hover {
  background-color: #039c974b;
}

#context svg {
  margin-right: 5px;
}

#covered {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999998;
}
