.modal-overlay {
  overflow: hidden;
}
:root {
  --bgColor: #f7f7f7;
  --fontColor: rgb(75, 75, 75);
  --green: #4db6ac;
}
input{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.title{
  position: fixed;
  top: 7%;
  left: 0;
  width: 100%;
  height: auto;
}
#title{
  text-align: center;
  font-size: 7vh;
  padding-bottom: 0.3em;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
@media screen and (max-width: 480px){
  #title{
    font-size: 5vh;
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.myBtn-circle {
  border: #666 solid 1px;
  color: var(--fontColor);
  position: relative;
  line-height: 12vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 0.1rem 0.1rem;
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  cursor: pointer;
}
.myBtn-circle:hover {
  color: var(--green);
  border-color: var(--green);
}
.myBtn-small{
  line-height: 5vh;
  width: 5vh;
  height: 5vh;
}

.class input[type="text"] {
  font-size: 16px;
  transform: scale(0.9);
}

#file1 {
  display: none;
}

#audioInput{
  display: none;
}

#droppable {
  border: rgb(165, 165, 165) dashed 0.3em;
  text-align: center;
  border-radius: 1em;
  height: 9.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#audioicon,
#fullscreen,
#escFullscreen {
  cursor: pointer;
}

body:fullscreen #fullscreen {
  display: none;
}

body:not(:fullscreen) #escFullscreen {
  display: none;
}

.noevent {
  pointer-events: none;
}

.autoevent {
  pointer-events: auto;
}

.share .btn-flat{
  padding: 0 7px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}



html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
}


#Date,#Time{
  display: none;
}
#settings .section{
  background-color: #fff;
  margin-top: 0.5em;
  padding: 0.1em 1em;
}
#settings .section p{
  color: #666;
  margin-inline-start: 1em;
}
#settings .section:not(:last-child){
  margin-bottom: 4em;
}
.modal{
  max-height: 90vh;
}
#settings .modal-footer{
  display: flex;
}
#settings .modal-footer div:first-child{
  flex: 9;
  text-align: left;
}
#settings .modal-footer div:last-child{
  flex: 3;
}
.audioFlex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.play{
  width: auto;
}
.volume{
  flex: 1;
}
.volume,.play{
  margin: 1em 0;
}
.volume p{
  margin: 0;

}
input[type=text]:not(.browser-default)[readonly="readonly"]{
  background-color: transparent;
  color: var(--fontColor);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
.fullscreenIcons{
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  z-index: 999;
  color: var(--fontColor);
}
.fullscreenIcons div{
  display: inline-block;
  cursor: pointer;
}
#settings .modal-content {
  padding: 0 5px;
}
body:not(.timer) {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI”, " Roboto,
    Oxygen ",
 " Ubuntu ", " Cantarell ", " Fira Sans ", " Droid Sans”,
    "Helvetica Neue", sans-serif;
}







#bigtimer {
  flex: 1;
  z-index: 0;
  flex-shrink: 0;
  transition: background-color 250ms ease-in-out;
  pointer-events: none;
  padding: 30px 30px 50px;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  color: var(--fontColor);
}

.icons {
  white-space: nowrap;
  margin-inline-end: 0.5em;
  vertical-align: middle;
}
.setBtns a {
  display: inline-flex;
}
.setBtns{
  letter-spacing: 0.3em;
  width: 100%;
}
#stopTimer{
  display: none;
}



#click {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
.timer a{
  pointer-events: auto;
}
.hidecursor * {
  cursor: none !important;
}