@import "../node_modules/materialize-css/sass/materialize.scss";
.modal-overlay {
  overflow: hidden;
}
:root {
  --bgColor: #f7f7f7;
  --fontColor: rgb(75, 75, 75);
  --green: #4db6ac;
  --grayText: #666;
}
p{
  text-align: justify;
  line-height: 1.5;
}
ol > li{
  margin-bottom: 0.8em;
}
input {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.title {
  width: 100%;
  height: auto;
  padding: 0 5vw;
}
#title {
  margin-top: 8vh;
  text-align: center;
  font-size: 6.5vmin;
  color: var(--fontColor);
  padding-bottom: 0.3em;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
input.valid[type=text]:not(.browser-default){
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
}
.myBtn-circle {
  border: var(--grayText) solid 1px;
  color: var(--fontColor);
  position: relative;
  line-height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.1rem 0.1rem;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  &.myBtn-tiny{
    width: auto;
    height: auto;
    line-height: 1.1;
    border-radius: 100vh;
    padding: 0.5em 0.8em;
  }
}
.easySet a{
  margin: 0.4em 0.3em;
}
.myBtn-circle:not(.nohover):hover {
  color: var(--green);
  border-color: var(--green);
}
.nohover {
  cursor: auto;
}
.myBtn-small {
  line-height: 40px;
  width: 40px;
  height: 40px;
}
.class input[type="text"] {
  font-size: 16px;
  transform: scale(0.9);
}
#file1 {
  display: none;
}
#droppable {
  border: rgb(165, 165, 165) dashed 0.3em;
  text-align: center;
  border-radius: 1em;
  height: 9.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
#audioicon,
#fullscreen,
#escFullscreen {
  cursor: pointer;
}
body:fullscreen #fullscreen {
  display: none;
}
body:not(:fullscreen) #escFullscreen {
  display: none;
}
.share{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
.share .btn-flat {
  padding: 0 7px;
  color: var(--grayText);
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: rgba($color: #fff, $alpha: 0);
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: rgba($color: gray, $alpha: 0.5);
  border-radius: 10px;
  box-shadow: none;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Arial", "Roboto", "Hiragino Kaku Gothic ProN", YuGothicM, YuGothic, Meiryo,
    sans-serif;
}
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"),
    local("YuGothic-Regular"); /* Windows8.1ではMediumがないのでRegularを指定 */
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local("YoGothic-Bold"), local("Yu Gothic");
}
.displayTimeWrap{
  display: flex;
  font-size: inherit;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 20vmin;
  border: none;
  border: 0;
  padding: 0;
  transition: font-size .2s ease-in-out;
}
.timer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", -apple-system, blinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Arial", "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
#Date,
#Time,
#openWelcome {
  display: none;
}
.modal#settings{
  max-height: 77vh;
}
#settings .section {
  background-color: #fff;
  margin-top: 0.5em;
  padding: 0.1em 1em;
}
.collapsible-body{
  padding: 0.5rem;
}
#settings .section p,#settings .section .content {
  color: var(--grayText);
  margin-inline-start: 1em;
}
#settings .section p.radio label {
  color: var(--grayText);
  font-size: 12px;
  margin-inline-start: 1em;
}
#settings .section:not(:last-child) {
  margin-bottom: 4em;
}
#settings .modal-footer {
  display: flex;
}
#settings .modal-footer div:first-child {
  flex: 9;
  text-align: left;
}
#settings .modal-footer div:last-child {
  flex: 3;
}
.kome{
  position: relative;
  padding-left: 1em;
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "※";
  }
}
.duration{
  display: inline-flex;
  width: 40px;
  font-size: 16px;
  max-width: 30%;
}
.duration input{
  text-align: right;
}
.audioFlex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.play {
  width: auto;
}
.volume {
  flex: 1;
  display: flex;
  padding-left: 1em;
  align-items: center;
  justify-content: center;
}
.volume .bi-volume-up {
  width: auto;
  text-align: right;
  color: var(--grayText);
}
.volume .range-field {
  flex: 1;
}
.volume,
.play {
  margin: 1em 0;
}
.volume p {
  margin: 0;
}
input[type="text"]:not(.browser-default)[readonly="readonly"] {
  background-color: transparent;
  color: var(--fontColor);
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
.fullscreenIcons {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  z-index: 999;
  color: var(--fontColor);
}
.fullscreenIcons div {
  display: inline-block;
  cursor: pointer;
  margin: 0 0.5em;
}
#settings .modal-content {
  padding: 0 5px;
}
#bigtimer {
  flex: 1;
  z-index: 0;
  flex-shrink: 0;
  transition: background-color 250ms ease-in-out;
  pointer-events: none;
}
.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  color: var(--fontColor);
}
.icons {
  white-space: nowrap;
  margin-inline-end: 0.5em;
  vertical-align: middle;
}
.setBtns a {
  display: inline-flex;
}
.setBtns {
  letter-spacing: 0.3em;
  width: 100%;
}
#stopTimer {
  display: none;
}
.timer a {
  pointer-events: auto;
}
.howTo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}
.howTo .case,
.howTo .answer {
  margin: 1.5em 0;
}
.howTo .case {
  width: 50%;
}
.howTo .answer {
  flex: 1;
  margin-left: 0.7em;
}
.status {
  color: var(--grayText);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}
#durationIcon {
  display: none;
}
.status a {
  color: var(--grayText);
}
.status a:hover {
  text-decoration: underline;
}
.status div {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}
.status .alarmTime {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.timerSet {
  position: relative;
  margin-bottom: 0.2em;
}
a {
  cursor: pointer;
}
input[type=text]:-webkit-autofill,input[type=number]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover, input[type=number]:-webkit-autofill:hover, 
input[type=text]:-webkit-autofill:focus, input[type=number]:-webkit-autofill:focus, 
input[type=text]:-webkit-autofill:active,input[type=number]:-webkit-autofill:active
{
 box-shadow: 0 0 0 30px var(--bgColor) inset !important;
 -webkit-box-shadow: 0 0 0 30px var(--bgColor) inset !important;
 -webkit-text-fill-color: var(--fontColor) !important;
}
/*Tablet*/
@media screen and (max-width: 768px) {
  #title{
    font-size: 5vmin;
  }
 }
 /* Smartphone */
@media screen and (max-width: 480px) {
  #title {
    font-size: 6vmin;
  }
  .timer {
    line-height: 1.2;
  }
  .status {
    font-size: 10px;
  }
  .setBtns .center{
    transform: scale(0.8);
    transform-origin: center top 0;
  }
}
body.dark {
  --bgColor: rgb(32, 32, 32);
  --fontColor: rgb(232, 232, 232);
  --green: #4db6ac;
  --grayText: rgb(216, 215, 215);
}
body.dark .modal,
body.dark .modal .modal-content,
body.dark .modal .modal-footer,
body.dark .tabs {
  background-color: var(--bgColor);
}
body.dark .modal .modal-footer * {
  color: var(--fontColor);
}
body.dark #settings .section {
  background-color: rgb(51, 51, 51);
}
body.dark .timepicker-plate {
  background-color: rgb(51, 51, 51);
}
body.dark .timepicker-tick, body.dark .datepicker-controls * {
  color: var(--fontColor);
}
body.dark .collapsible,body.dark .collapsible-header,body.dark .collapsible-body{
  border-color: rgb(75, 75, 75);
}
body.dark .collapsible-header{
  background-color: var(--bgColor);
}
body.dark .timepicker-tick, body.dark .datepicker-controls svg {
  fill: var(--fontColor);
}
body.dark .dropdown-content{
  background-color: var(--bgColor);
}
body.dark input{
  color: var(--fontColor);
}
body.dark input::-webkit-input-placeholder{
  color:rgb(80, 80, 80);
}
body.anime * {
  transition: background-color 0.3s ease-in-out;
}