@import "../node_modules/materialize-css/sass/materialize.scss";
.myModal-overlay {
  overflow: hidden;
}
:root {
  --bgColor: #f7f7f7;
  --fontColor: rgb(75, 75, 75);
  --green: #4db6ac;
  --grayText: #666;
}
* {
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Arial", "Roboto", "Hiragino Kaku Gothic ProN", YuGothicM, YuGothic, Meiryo,
    sans-serif;
}
p,
ul,
ol {
  text-align: justify;
  line-height: 1.7;
}
ol > li {
  margin-bottom: 0.8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
input[type="range"] {
  border: 0;
}
.title {
  width: 100%;
  height: auto;
  padding: 0 5vw;
}

.myModal {
  opacity: 0;
  transform: scale(0.8);
  z-index: 1001;
  transform-origin: top center;
  text-align: start;
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  max-width: 800px;
  max-height: 75vh;
  overflow-y: auto;
  background-color: var(--bgColor);
  & h2 {
    padding-bottom: 0.3em;
  }
  & .close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
  }
  transition: opacity 0.2s, transform 0.2s;
}
.myModal-content {
  padding: 0.2rem 2rem;
}
.myModal-footer {
  padding: 1em 0.7em;
  text-align: end;
}
.myModal-overlay {
  display: block;
  z-index: 1000;
  cursor: default;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.myModal.activeModal {
  opacity: 1;
  transform: scale(1);
  & ~ .myModal-overlay {
    opacity: 1;
  }
}
@media only screen and (max-width: 992px) {
  .myModal {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .myModal {
    width: 90%;
  }
}
#title {
  margin-top: 8vh;
  text-align: center;
  font-size: 6.7vmin;
  font-family: "BIZ UDPゴシック", "BIZ UDPGothic", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN",
    sans-serif;
  color: var(--fontColor);
  padding-bottom: 0.3em;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
input.valid[type="text"]:not(.browser-default) {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
}
.myBtn-circle {
  border: var(--grayText) solid 1px;
  color: var(--fontColor);
  position: relative;
  line-height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.1rem 0.1rem;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  &.myBtn-tiny {
    width: auto;
    height: auto;
    line-height: 1.1;
    border-radius: 100vh;
    padding: 0.5em 0.8em;
  }
}
.easySet {
  text-align: start;
  & a {
    margin: 0.4em 0.3em;
  }
}
.myBtn-circle:not(.nohover):hover {
  color: var(--green);
  border-color: var(--green);
}
.nohover {
  cursor: auto;
}
.myBtn-small {
  line-height: 40px;
  width: 40px;
  height: 40px;
}
.class input[type="text"] {
  font-size: 16px;
  transform: scale(0.9);
}
#file1 {
  display: none;
}
#droppable {
  border: rgb(165, 165, 165) dashed 0.3em;
  text-align: center;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7em;
  width: 100%;
  height: auto;
  padding: 1em;
  transform: none;
}
#audioicon,
#fullscreen,
#escFullscreen {
  cursor: pointer;
}
body:fullscreen #fullscreen {
  display: none;
}
body:not(:fullscreen) #escFullscreen {
  display: none;
}
.share {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
.share .btn-flat {
  padding: 0 7px;
  color: var(--grayText);
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: rgba($color: #fff, $alpha: 0);
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: rgba($color: gray, $alpha: 0.5);
  border-radius: 10px;
  box-shadow: none;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
}
@font-face {
  font-family: YuGothicM;
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"),
    local("YuGothic-Regular"); /* Windows8.1ではMediumがないのでRegularを指定 */
}
@font-face {
  font-family: YuGothicM;
  font-weight: bold;
  src: local("YoGothic-Bold"), local("Yu Gothic");
}
#displayTime {
  transition: color 0.2s ease-out;
}
.displayTimeWrap {
  display: flex;
  font-size: inherit;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 20vmin;
  border: none;
  border: 0;
  padding: 0;
  transition: font-size 0.2s ease-in-out;
}
.timer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.1;
  & * {
    font-family: "Open Sans", -apple-system, blinkMacSystemFont,
      "Helvetica Neue", "Segoe UI", "Arial", "Roboto", sans-serif;
  }
}
#Date,
#Time,
#openWelcome {
  display: none;
}
.datepicker-date-display .date-text {
  font-weight: normal;
}
.timepicker-display-column {
  font-weight: normal;
}
.myModal#settings {
  max-height: 77vh;
  padding: 0;
}
#info .section {
  background-color: var(--bgColor);
  padding: 0;
}
.myModal#info h2:not(:first-child) {
  margin-top: 1.8em;
  color: var(--fontColor);
}
.myModal .section {
  background-color: #fff;
  margin-top: 0.5em;
  padding: 0.1em 1em;
}
.collapsible-body {
  padding: 0.5rem;
}
.myModal .section p,
.myModal .section ol,
.myModal .section .content {
  color: var(--grayText);
  margin-inline-start: 1em;
}
.myModal .section .content{
  color: #039be5;
}
.myModal .section p.radio label {
  color: var(--grayText);
  font-size: 12px;
  margin-inline-start: 1em;
  & span {
    display: inline-block;
    width: 90%;
  }
}
.myModal .section:not(:last-child) {
  margin-bottom: 4em;
}
#settings .myModal-footer {
  display: flex;
}
#settings .myModal-footer div:first-child {
  flex: 9;
  text-align: start;
}
#settings .myModal-footer div:last-child {
  flex: 3;
}
.kome {
  position: relative;
  padding-left: 1em;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "※";
  }
}
.duration {
  display: inline-flex;
  width: 40px;
  font-size: 16px;
  max-width: 30%;
}
.duration input {
  text-align: right;
}
.audioFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#stopTestAudio {
  display: none;
}

.play {
  width: auto;
  height: 100%;
}
.volume {
  flex: 1;
  display: flex;
  padding-left: 1em;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.volume .bi-volume-up {
  width: auto;
  text-align: right;
  color: var(--grayText);
}
.volume .range-field {
  flex: 1;
}
.volume,
.play {
  margin: 1em 0;
}
.volume p {
  margin: 0;
}
input[type="text"]:not(.browser-default)[readonly="readonly"] {
  background-color: transparent;
  color: var(--fontColor);
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
.fullscreenIcons {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  z-index: 999;
  color: var(--fontColor);
  & div,
  & span {
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.fullscreenIcons div {
  display: inline-block;
  cursor: pointer;
  margin: 0 0.5em;
}
#settings .myModal-content {
  padding: 0 5px;
}
#bigtimer {
  flex: 1;
  z-index: 0;
  flex-shrink: 0;
  transition: background-color 250ms ease-in-out;
  pointer-events: none;
}
.flex {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  color: var(--fontColor);
}
.icons {
  white-space: nowrap;
  margin-inline-end: 0.5em;
  vertical-align: middle;
}
.setBtns a {
  display: inline-flex;
}
.setBtns {
  letter-spacing: 0.3em;
  width: 100%;
}
#stopTimer {
  display: none;
}
.timer a {
  pointer-events: auto;
}
#welcome {
  line-height: 1.7;
}
.howTo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}
.howTo .case,
.howTo .answer {
  margin: 1.8em 0;
  text-align: justify;
}
.howTo .case {
  width: 50%;
}
.howTo .answer {
  flex: 1;
  margin-left: 1.2em;
  & svg {
    margin: 0.5em 0.2em;
  }
  & .myBtn-small {
    margin: 0.3em;
    & svg {
      margin: 0;
    }
  }
}
.status {
  color: var(--grayText);
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  &.leftside {
    justify-content: flex-start;
  }
}
#durationIcon {
  display: none;
}
.status a:not(#audioReset) {
  color: var(--grayText);
}
.status a:hover {
  text-decoration: underline;
}
.status div {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}
.status .alarmTime {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.audioFileStatus {
  display: none;
  font-size: 14px;
  text-align: start;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  & .audioFile {
    width: 100%;
  }
  & #audioFileName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.timerSet {
  position: relative;
  margin-bottom: 0.2em;
  font-size: 15vmin;
}
a {
  cursor: pointer;
}
input[type="text"]:-webkit-autofill,
input[type="number"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="number"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="number"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active,
input[type="number"]:-webkit-autofill:active {
  box-shadow: 0 0 0 100vh var(--bgColor) inset !important;
  -webkit-box-shadow: 0 0 0 100vh var(--bgColor) inset !important;
  -webkit-text-fill-color: var(--fontColor) !important;
}
.confirmation-btns {
  text-align: right;
}

.flexMenu {
  margin-top: 2em;
  & a.content {
    display: flex;
    width: 100%;
    height: 2.8em;
    transition: opacity 0.2s;

    & .icon {
      width: 2em;
    }
    & .text {
      flex: 1;
    }

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }
}
/*Big PC*/
@media screen and (min-width: 1440px) {
  .title {
    padding: 0 7vw;
  }
}
/*Tablet*/
@media screen and (max-width: 768px) {
  #title {
    font-size: 5vmin;
  }
}
/* Smartphone */
@media screen and (max-width: 480px) {
  #title {
    font-size: 6vmin;
  }
  .timer {
    line-height: 1.2;
  }
  .status {
    font-size: 12px;
  }
  .setBtns .center {
    transform: scale(0.8);
    transform-origin: center top 0;
  }
}
// Loading

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999998;
  backdrop-filter: blur(8px);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: auto;
  font-size: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(0, 0, 0, 0.07);
  border-right: 0.3em solid rgba(0, 0, 0, 0.07);
  border-bottom: 0.3em solid rgba(0, 0, 0, 0.07);
  border-left: 0.3em solid #3b3b3b;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
body.dark .loader {
  border-top: 0.3em solid rgba(255, 255, 255, 0.1);
  border-right: 0.3em solid rgba(255, 255, 255, 0.1);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.1);
  border-left: 0.3em solid #ffffff;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body.dark {
  --bgColor: rgb(32, 32, 32);
  --fontColor: rgb(232, 232, 232);
  --green: #4db6ac;
  --grayText: rgb(216, 215, 215);
}
body.dark .myModal,
body.dark .modal,
body.dark .myModal .myModal-content,
body.dark .modal .modal-content,
body.dark .myModal .myModal-footer,
body.dark .myModal .modal-footer,
body.dark .tabs {
  background-color: var(--bgColor);
}
body.dark .myModal .myModal-footer * {
  color: var(--fontColor);
}
body.dark .myModal .section {
  background-color: rgb(51, 51, 51);
}
body.dark .timepicker-plate {
  background-color: rgb(51, 51, 51);
}
body.dark .timepicker-tick,
body.dark .datepicker-controls * {
  color: var(--fontColor);
}
body.dark .collapsible,
body.dark .collapsible-header,
body.dark .collapsible-body {
  border-color: rgb(75, 75, 75);
}
body.dark .collapsible-header {
  background-color: var(--bgColor);
}
body.dark .collapsible-header:focus {
  background-color: var(--bgColor);
}
body.dark .timepicker-tick,
body.dark .datepicker-controls svg {
  fill: var(--fontColor);
}
body.dark .datepicker-table td.is-outside-current-month,
body.dark .datepicker-table td.is-disabled {
  color: rgba(255, 255, 255, 0.3);
}
body.dark .dropdown-content {
  background-color: var(--bgColor);
}
body.dark input {
  color: var(--fontColor);
}
body.dark input::-webkit-input-placeholder {
  color: rgb(80, 80, 80);
}
body.anime * {
  transition: background-color 0.3s ease-in-out;
}
